<footer class="container">
    <hr class="featurette-divider">
    <p class="float-right"><a href="#top">Voltar ao topo</a></p>
    <p>&copy; 2020</p>
    <p>by <a href="https://github.com/malufell">Malu</a></p>
    <p><a href="/faleconosco">Fale Conosco</a></p>
</footer>