<div class="modal fade" id="modalCarregamentoEmail" data-keyboard="false" tabindex="-1"
  aria-labelledby="modalCarregamentoEmailLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex align-items-center">
          <strong class="mr-3">Enviando email... </strong><br>
          <div class="spinner-grow text-primary mr-3" role="status"></div>
          <div class="spinner-grow text-secondary mr-3" role="status"></div>
          <div class="spinner-grow text-success mr-3" role="status"></div>
        </div>
      </div>
    </div>
  </div>
</div>