<nav class="navbar navbar-expand-sm navbar navbar-light bg-light">
    <a class="navbar-brand logo ml-sm-5" href="/">Meu Caderno de Receitas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end mr-5" id="navbarNavDropdown">
        <ul class="navbar-nav font-weight-bold">
            <li class="nav-item">
                <a class="nav-link" href="/exemplo">Veja um exemplo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/usuario-cadastro">Cadastre-se!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>

