<p>
    Oi, {{nome}}!
</p>
<p>
    Recebemos um pedido para redefinir sua senha. Clique no link abaixo para cadastrar uma nova senha:
</p>
    <a href="{{host}}nova-senha?token={{token}}">Redefinir senha</a>
<p>
    Este link irá expirar automaticamente em 24 horas ;)
</p>
<p>
    Obs.: se você não tiver feito este pedido, pode ignorar esta mensagem e sua senha não será alterada. 
</p>

<p>
Até mais! <br>
<a href="http://www.meucadernodereceitas.net/">meucadernodereceitas.net</a>
</p>