body, table {
    font: "Segoe UI";
    line-height: 2;

}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

.content {
    flex: 1 !important;
}

html {
    height:100%;
} 

h3 {
    text-align: center;
}

label {
    font-weight: bold;
}

.imagem-cadastro {
    background: url("../images/cadastro.jpg");
    background-size: cover;
    background-color: black;
    opacity: 0.8;
    height: 100vh;    
}

.imagem-recupera-senha {
    background: url("../images/tela-redefine-senha.jpg");
    background-size: cover;
    background-color: black;
    opacity: 0.8;
    height: 100vh;    
}

.imagem-nova-senha {
    background: url("../images/nova-senha.jpg");
    background-size: cover;
    background-color: black;
    opacity: 0.9;
    height: 100vh;    
}

.imagem-cadastro:hover, .imagem-recupera-senha:hover, .imagem-nova-senha:hover {
    opacity: 1;
    transition: 300ms;
}

.logo {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: darkred !important;
    font-size: 2rem !important;
}

footer {
    padding: 2.5rem 0;
    color:whitesmoke;
    text-align: center;
    background-color: #333;
    border-top: .05rem solid #e5e5e5;
}

footer p:last-child {
    margin-bottom: 0;
}

footer a {
    color: whitesmoke;
}