
.fa-pencil-alt {
  font-size: 1rem;
}

.fa-camera {
  font-size: 1rem;
}

.bi-card-image {
    font-size: 10rem;
    color: darkgray
  }

.bi-card-checklist {
    font-size: 10rem;
    color: darkgray
}  

