.imagem-receita {
    width: 500px !important;
}

.categoria {
    font-weight: normal;
}

.linkCadastroFoto {
    color: black;
}

.imagem-carrossel {
    object-fit: cover; 
    object-position: 0 70%;
}