<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/main.css'/> 
</head>

<body>
    <main>
        <h1><%= title %></h1>
        <p>Bem vindo(a) ao <strong><%= product %></strong>!</p>
        <a href="/usuarios">Teste utilizando Sequelize e EJS!</a><br>
        <a href="/login">Login</a><br>
        <a href="/autenticada">Teste autenticação</a>
    </main>
    <footer>
        <p>Versão <%= version %></p>
    </footer>
</body>

</html>