<!doctype html>
<html lang="pt-br">

<head>
  <link rel="stylesheet" href="/styles/product.css">
  <link rel='stylesheet' href="/styles/main.css">
  <%- include('../views/partials/head.ejs') %>
</head>

<body>
  <%- include('../views/partials/nav-geral.ejs') %>

    <div class="position-relative overflow-hidden p-1 md-5 mt-3 mb-3 text-center bg-white">
      <div class="col-md-5 p-lg-1 mx-auto my-5">
        <h2 class="display-4 font-weight-normal">Organize suas receitas favoritas :)</h2>
        <a class="btn btn-outline-secondary mt-3 mb-1" href="/usuario-cadastro">cadastre-se gratuitamente</a>
        <div>
          <span class="link-login">ou efetue <a href="/login">login</a></span>
        </div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 w-md-50 text-center overflow-hidden container-fluid">
        <div class="my-3 py-3">
          <h2 class="display-5">Simples & Eficiente</h2>
          <p class="lead">Organize suas receitas por categorias, inclua links de vídeos do youtube e fotos!</p>
          <a class="btn btn-outline-secondary mt-1 mb-1" href="/exemplo">veja um exemplo!</a>
          <img src="images/app-dispositivos.jpg" class="app-dispositivos mr-5 img-fluid">
        </div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 w-md-50 text-center overflow-hidden container-fluid">
        <div class="my-3 py-3">
          <h2 class="display-5">Praticidade</h2>
          <p class="lead">Acesse pelo celular, tablet, notebook</p>
          <img src="images/ipad-na-cozinha.jpg" class="img-ipad-na-cozinha mr-5 img-fluid">
        </div>
      </div>
    </div>

    <div class="bg-light position-relative overflow-hidden md-3 pt-3 pb-3 px-3 pt-md-5 px-md-5 text-center">
      <p class="lead">Caderno, bloco de notas, instagram, facebook, youtube, dezenas de blogs... Receita é o que não falta! </p>
      <p class="lead">Utilize o <span style="font-family: Pacifico, cursive">Meu Caderno de Receitas</span> e encontre suas receitas favoritas rapidamente!</p>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 w-md-50 text-center overflow-hidden container-fluid">
        <div class="my-3 py-3">
          <h2 class="display-5">Guarde as suas relíquias</h2>
          <p class="lead">Sabe aquelas receitas que foram escritas à mão ou estão impressas? Você pode cadastrar elas rapidamente através de foto ;)</p>
          <img src="images/pao-caseiro-celular.jpg" class="img-fluid">
        </div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 w-md-50 text-center overflow-hidden container-fluid">
        <div class="my-3 py-3">
          <h2 class="display-5">Compartilhe o que desejar</h2>
          <p class="lead">Descobriu aquela receita sensacional e deseja enviar para alguém? O seu caderno de receitas é privado, mas você pode compartilhar as receitas que quiser!</p>
          <img src="images/ipad-opcao-compartilhar.jpg" class="img-fluid w-75">
        </div>
      </div>
    </div>

    <div class="bg-light md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <h2 class="display-5">Uma versão moderna para o seu antigo caderno de receitas</h2>
      <p class="lead">Além das relíquias de família, cadastre aqueles vídeos do youtube que você sempre procura, além das receitas dos seus sites e blogs favoritos</p>
      <img src="images/livro-na-cozinha.jpg" class="img-livro-na-cozinha img-fluid">
      <div class="my-3 p-3"></div>
    </div>

    <%- include('../views/partials/footer.ejs') %>
    <%- include('../views/partials/script-bootstrap.ejs') %>

</body>
</html>